
@{
    ViewBag.Title = "KulupEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" class="form-group">
    <div>

        <label style="font-size:20px;">Yeni Kulüp Adı</label>
        <input type="text" class="form-control" name="KULUPAD" />
        <br />
       <label style="font-size:20px;">Kulüp Kontenjanı</label>
        <input type="text" class="form-control" name="KULUPKONTENJAN" />

    </div>
    <div>
        <button  style="margin-top:15px;" class="btn btn-danger">Ekle</button>
    </div>
</form>

